@import url("https://fonts.googleapis.com/css?family=Catamaran:900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Catamaran", sans-serif;
}
  
body {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #CCC;
}
  
button {
    position: relative;
    background: #555;
    color: #ccc;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
}
  
button:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: #555;
    color: #CCC;
    animation: box 3s infinite;
}
  
button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #555;
}

button span {
    position: relative;
    z-index: 1;
}

@keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
}
  
@keyframes box {
    0% {
      box-shadow: #555;
    }
    15% {
      box-shadow: 0 0 35px black;
    }
    100% {
      box-shadow: 0 0 35px black;
    }
}


#back {
  color: red;
}