@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

body {
    font-family: "Catamaran", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #ccc;
    color: white;
}

.filter-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #333;
    color: white;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.filter-container label {
    margin-right: 10px;
    color: white;
}

.filter-container select {
    font-size: 1em;
    padding: 5px;
    color: white;
    background: #555;
    border: 2px solid white;
}

#search-bar {
    padding: 5px;
    border: 2px solid white;
    background: #555;
    color: white;
    border-radius: 4px;
    font-size: 15px;
    width: 350px; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1400px;
    margin-top: 110px; 
    margin-left: 40px;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    background-color: #555;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 23%;
    min-width: 300px;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px 0;
}

.card h2 {
    font-size: 1.5em;
    margin: 0 0 10px 0;
    color: white;
    font-weight: bold;
}

.card p {
    margin: 5px 0;
    color: white;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 0;
}

#button_modif {
    background: #444;
    border: 2px solid #fff;
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
    border-radius: 8px;
    padding: 3px 25px;
}